.campaign-list-view {
  .campaign-item {
    padding: 10px;
    margin-bottom: 15px;

    .campaign-item-pict {
      width: 15%;
      img {
        width: 100%;
      }
    }
    .campaign-item-cont {
      width: 80%;

      .campaign-item-view-detail {
        max-width: 170px;
        margin-left: auto;
      }
    }
  }
}
