.campaign-detail-view {
  .head-campaign-description {
    @include prefixonvalue(display, flex);

    .campaign-image {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .head-campaign-text {
      .head-campaign-name {
        font-size: 36px;
      }
      .head-campaign-description {
        font-size: 16px;
      }
    }
  }

  .total-to-donate {
    margin-bottom: 15px;

    .wall-draw {
      height: 1px;
      width: 100%;
      border: 1px solid black;
      margin-bottom: 10px;
    }
    .total-donation-desc {
      max-width: 65px;
      margin-left: auto;
    }
  }

  .donate {
    width: 112px;
    margin-left: auto;
  }
}
