<div class="confirm-donation-view">
  <h3 class="text-center">Gracias por donar</h3>
  <div class="detail-donation">
    <p>Su detalle de donación</p>
    <div class="item-donated" ng-repeat="(key,item) in donation">
      <h3>Producto: {{ item.name }}</h3>
      <p>Cantidad: {{ item.currentDonation }}</p>
      <p>Total: ${{ item.currentDonation * item.price }}</p>
    </div>
  </div>
  <div class="button-container">
    <p>Desea continuar?</p>
     <a class="waves-effect waves-light btn" ng-click="confirmDetailDonation()">Donar</a>
  </div>
</div>
