<div class="detail-donation-view">
  <h3 class="text-center">Formulario de donación</h3>
  <form class="detail-donation-form" layout="row" name="detailDonationForm">
      <div class="form-inwrapper-container" flex>
        <!-- Nombre -->
        <md-input-container class="md-block">
          <label>Nombre completo</label>
          <input type="text" name="name"
                 ng-model="detailDonation.name" required>
          <div ng-messages="detailDonationForm.name.$error"
               ng-if="detailDonationForm.name.$touched || showInfo">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>

        <!-- Ciudad -->
        <md-input-container class="md-block">
          <label>Ciudad</label>
          <input type="text" ng-model="detailDonation.city"
                 name="city" required>
          <div ng-messages="detailDonationForm.city.$error"
               ng-if="detailDonationForm.city.$touched || showInfo">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>

        <div class="form-contact-container" layout="row">
          <!-- Documento de identidad -->
          <md-input-container class="md-block form-input-row">
            <label>Documento de identidad</label>
            <input type="text" name="idDocument" ng-pattern="/\d{7}-\d/"
                   ng-model="detailDonation.idDocument" required
                   placeholder="XXXXXXX-X">
            <div ng-messages="detailDonationForm.idDocument.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="pattern">El documento de identidad debe respetar un formato
                de 7 digitos seguido por guión y el digito verificador, por ej 1234567-8.</div>
            </div>
          </md-input-container>

          <!-- Email -->
          <md-input-container class="md-block form-input-row">
            <label>Email</label>
            <input type="text" name="email" ng-pattern="/.+@.+\..+/"
                   ng-model="detailDonation.email" required>
            <div ng-messages="detailDonationForm.email.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message="pattern">El campo de email debe tener un formato válido.</div>
            </div>
          </md-input-container>
        </div>

        <div class="billment-container">
          <p>Pago</p>
          <div layout="row">
            <div class="icon-billment">
              <md-icon md-font-set="fa" class="fa-credit-card"></md-icon>
            </div>
            <div class="detail-billment">
              <!-- Número de tarjeta de crédito -->
              <md-input-container class="md-block">
                <label>Número de la tarjeta de credito</label>
                <input type="text" name="numberCard" ng-pattern="/\d{16}/"
                       ng-model="detailDonation.creditCard.numberCard"
                       required placeholder="XXXX-XXXX-XXXX-XXXX">
                <div ng-messages="detailDonationForm.numberCard.$error">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">El número de tarjeta de crédito debe ser válido.</div>
                </div>
              </md-input-container>

              <!-- Fecha de vencimiento -->
              <md-input-container>
                <label>Fecha de vencimiento</label>
                <input type="text" name="dueCard"
                       ng-model="detailDonation.creditCard.due"
                       required placeholder="XX/XXXX">
                <div ng-messages="detailDonationForm.dueCard.$error">
                  <div ng-message="required">Este campo es requerido.</div>
                </div>
              </md-input-container>

              <!-- Número de seguridad -->
              <md-input-container>
                <label>Número de seguridad</label>
                <input type="text" name="securityCodeCard"
                       ng-model="detailDonation.creditCard.securityCode"
                       ng-pattern="/\d{3}/"
                       required placeholder="XXX">
                <div ng-messages="detailDonationForm.securityCodeCard.$error">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">El código de seguridad debe ser de tres dígitos.</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>



        <div class="detail-donation-submit" class="md-block">
          <a class="waves-effect waves-light btn" ng-click="donate()">
            Donar
          </a>
        </div>
      </div>
    </form>
</div>
