<div class="progress-item-container">
  <figure class="item-req-image">
    <img ng-src="{{ item.url }}" alt="Producto">
    <figcaption>{{ item.name }}</figcaption>
    <figcaption>${{ item.cost }}</figcaption>
  </figure>
  <div class="item-req-amount">
    <div class="progress-linear-container" ng-class="{'is-changed': isChanged}">
      <md-progress-linear md-mode="determinate" value="{{ ratioDonated }}">
      </md-progress-linear>
      <div class="progress-bonus">
        <div ng-repeat="bonitem in bonus">
          <div class="progress-single-bonus"
               ng-if="bonitem.item.id == item.id"
               style="left: {{ bonitem.monto_min * 100 / item.requested }}%;">
               <div class="bonus-required">{{ bonitem.monto_min }} (+{{ bonitem.monto_adicionar }})</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ratio-donated-item">
      {{ item.donated }} / {{ item.requested }}
    </div>
  </div>
  <div class="item-donate-calculation">
    <md-input-container class="amount-to-donate">
      <input type="number" ng-model="item.donated" aria-label="Amount to donate">
    </md-input-container>
    <div class="item-total-item-price">
      ${{ item.donated * item.cost }}
    </div>
  </div>
</div>
