.header-nav {
  background: rgba(0, 0, 0, 0.05);
  color: $dark-primary-color;
  padding-top: 10px;
  padding-bottom: 5px;

  .header-navigation-list {
    margin-top: 0;
    margin-bottom: 0;
    width: 95%;
    @include prefixonvalue(display, flex);
    @include prefixonprop(justify-content, flex-end);

    li {
      margin-left: 20px;
    }
  }
}
