body {
	.header {
		width: 100%;
		background: $text-primary-color;

		.header-wall {
			color: $text-primary-color;
			.header-media-intro {
				z-index: -1;
				@include prefixonprop(transform, translateY(7px));
			}
			.wall-opacity {
				position: absolute;
				top: 0;
				left: 0;
				@include prefixonprop(transform, translateY(42px));
				width: 100%;
				height: 95%;
				background: $default-primary-color;
				opacity: 0.9;

				.wall-container {
					margin: 0 15%;
					position: relative;
					top: 50%;
					@include prefixonprop(transform, translateY(-50%));
					text-align: center;
					.wall-text-description {
						font-size: 20px;
					}
					.play-intro {
						margin-top: 50px;
						cursor: pointer;
						i.material-icons {
							font-size: 60px;
							color: white;
							@include prefixonprop(transition, ease 0.5s);
							&:hover {
								color: rgba(255, 255, 255, 0.5);
							}
						}
					}
				}
			}
		}
	}

	.section {
		.collect-header {
			font-size: 24px;
		}

		.section-collect .collect {
			margin-right: 10px;
			padding: 0;

			.collect-pict{
				margin: 0;
				max-height: 155px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.collect-info {
				padding: 10px;
			}
			.give {
				padding-bottom: 10px;
				.btn{
					left: 50%;
					@include prefixonprop(transform, translateX(-50%));
				}
			}
		}
	}

	.footer {
		background: $primary-text-color;
		color: $text-primary-color;
		min-height: 50px;
	}

	.video-intro-frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		display: none;

		.video-intro {
			@include prefixonprop(transform, translate(-50%, -50%));
			position: absolute;
			top: 50%;
			left: 50%;
			width: 90%;
			background-size: 100% 100%;
			// background-image: url('your-video-poster.jpg');
			background-position: center center;
			background-size: contain;
			object-fit: cover;
			z-index: 100;
			display: none;
		}
	}
}

@media (max-width: 767px) {
	body {
		h3 { font-size: 30px !important; }
		h4 { font-size: 18px !important; }
		p { font-size: 14px !important; }

		section.section {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@media (max-width: 480px) {
	body {
		h3 { font-size: 16px !important; }
		h4 { font-size: 14px !important; }
		p { font-size: 12px !important; }
	}
}
