<div class="campaign-list-view">
  <div class="title-campaign-list">
    <h3 class="text-center">Campañas</h3>
  </div>
  <div class="campaign-list-filter"></div>
  <div class="campaign-list-items" flex>
    <md-card class="campaign-item" ng-repeat="campaign in campaigns" layout="row">
      <figure class="campaign-item-pict">
        <img src="/dist/img/dolores.jpeg" alt="">
      </figure>
      <div class="campaign-item-cont">
        <div class="campaign-item-basic-info">
          <h4>{{ campaign.name }}</h4>
          <p>{{ campaign.description }}</p>
        </div>
        <div class="campaign-item-view-detail">
          <a class="waves-effect waves-light btn" ng-click="viewDetailCampaign(campaign)">Ver campaña</a>
        </div>
      </div>
    </md-card>
  </div>
</div>
