<section class="campaign-detail-view">
	<div class="head-campaign-description">
		<figure class="campaign-image">
			<!-- FIXME: Retrieve image from server -->
			<img src="/dist/img/dolores.jpeg" alt="Campaña">
		</figure>
		<div class="head-campaign-text">
			<h2 class="head-campaign-name">{{ campaign.name }}</h2>
			<p class="head-campaign-description">{{ campaign.description }}</p>
		</div>
	</div>
	<div class="bill-campaign-resources">
		<div ng-repeat="item in items" class="item-required">
			<!-- FIXME: Retrieve image from server -->
			<progress-item item="item" bonus="bonus"></progress-item>
		</div>
	</div>
	<div class="total-to-donate">
		<div class="wall-draw"></div>
		<div class="total-donation-desc">
			Total: $ {{ total }}
		</div>
	</div>
	<div class="donate">
		<a class="waves-effect waves-light btn" ng-click="confirmDonation()">Donar</a>
	</div>
</section>
