<header class="header">
	<header-app></header-app>
	<div class="header-wall">
		<video class="header-media-intro" id="header-video-hero" autoplay loop>
			<source src="/dist/sources/intro.mp4" type="video/mp4">
		</video>
		<div class="wall-opacity">
			<div class="wall-container">
				<h3>¿Que somos?</h3>
				<p class="wall-text-description">
					<strong>Reunidos</strong> es una plataforma digital de obtención de fondos de forma colectiva o Crowdfunding, en la cual buscamos aprovechar los beneficios de actuar en conjunto para maximizar nuestros recursos y así aumentar nuestra ayuda.
				</p>
				<div class="play-intro" id="play-intro-video">
					<i class="material-icons">play_circle_filled</i>
				</div>
			</div>
		</div>
	</div>
</header>
<section class="section container">
	<div class="section-collect row" id="section-collect">
		<h3 class="text-center">Nuestras colectas</h3>
		<div class="row">
			<div class="collect card col l5 m5 s12">
				<figure class="collect-pict">
					<img src="/dist/img/dolores.jpeg" alt="Dolores">
				</figure>
				<div class="collect-info text-center">
					<h4 class="collect-header">Tornado en Dolores</h4>
					<span>Activa</span>
					<p>Tres minutos y un tornado de categoría EF3 (severo) dejaron a la ciudad de Dolores e inmediaciones en estado de emergencia. Alrededor de 1.000 familias sufren los impactos de esta tragedia (algo más de 100 con pérdidas totales), ocurrida el 15 de abril de 2016.</p>
				</div>
				<div class="give">
					<a class="waves-effect waves-light btn" href="/#/app/campaigns/detail/1">Donar</a>
				</div>
			</div>
			<div class="collect card col l5 m5 s12 push-l2 push-m2">
				<figure class="collect-pict">
					<img src="/dist/img/lucesparaaprender.jpg" alt="Luces para aprender">
				</figure>
				<div class="collect-info text-center">
					<h4 class="collect-header">Inundación en La Plata</h4>
					<span>Inactiva</span>
					<p>Este 2 de abril, la ciudad de La Plata y sus cercanías fueron afectadas por una lluvia continua, generando más de 400 mm acumulados en cuatro horas, y afectando la vivienda de Juan,Carlos, y de otras 700 familias. Juntos podemos ayudarlos.</p>
				</div>
				<div class="give">
					<a class="waves-effect waves-light btn" ng-href="/#/app/campaigns/detail/2">Donar</a>
				</div>
			</div>
		</div>
		<div class="go-list-campaigns">
			<a ng-href="/#/app/campaigns/list" class="text-center">Ver todas las campañas</a>
		</div>
	</div>
	<div class="section-about" id="section-about">
		<h3 class="text-center">Nosotros</h3>
		<div class="sub-section">
			<h4 class="text-section-header">¿Cómo funciona?</h4>
			<p>Antes de cada campaña, Reunidos habla con los proveedores, arregla las cantidades, las bonificaciones y coordina la distribución de los productos.</p>
			<p>De esta manera, Reunidos transforma a cientos de consumidores minoristas en un único consumidor mayorista, obteniendo mejores beneficios en precios, y multiplicando la cantidad de productos obtenidos. A través de nuestra plataforma, cada persona decide cuántos productos quiere donar, y aporta el dinero necesario.</p>
		</div>
		<div class="sub-section">
			<h4 class="text-section-header">¿Quiénes se pueden registrar en Reunidos?</h4>
			<p>Todas las organizaciones que puedan afrontar la logística y organización de una campaña, y que también puedan presentar un diagnóstico local de las necesidades.</p>
		</div>
		<div class="sub-section">
			<h4 class="text-section-header">¿Quiénes pueden proponer una campaña?</h4>
			<p>Todas las organizaciones que se encuentren registradas en Reunidos y quieran colaborar con una causa social pueden proponer su campaña, llámese fundaciones, asociaciones civiles, ONG’s, empresas, entre otras.</p>
		</div>
		<div class="sub-section">
			<h4 class="text-section-header">¿Cómo elegimos la campaña?</h4>
			<p>La organización presenta un propuesta de campaña y describe la situación de emergencia. A su vez marca cuales son la prioridad de productos necesarios y sus cantidades, basado en el diagnóstico local. Una vez presentada la propuesta, Reunidos evalúa la disponibilidad de productos y valida la campaña.</p>
		</div>
	</div>
	<div class="section-ask">
		<h3 class="text-center">¿Preguntas?</h3>
		<p>Contactanos en <a href="mailto:sample@email.com">info@reunidos.co</a></p>
	</div>
</section>
<footer class="footer">
	<span class="text-little text-center">All rights reserved©</span>
</footer>

<!-- Outside video frame -->
<div class="video-intro-frame">
	<video class="video-intro" preload="none">
		<source src="/dist/sources/reunidos-intro.mp4">
	</video>
</div>
