$dark-primary-color: 	#1976D2;
$default-primary-color:	#2196F3;
$light-primary-color:	#BBDEFB;
$text-primary-color:	#FFFFFF;
$accent-color:			#448AFF;
$primary-text-color:	#212121;
$secondary-text-color:	#727272;
$divider-color:			#B6B6B6;
$green-color:      #A5D6A7;
$warning-color:    #EF5350;
