// Common classes
.text-center {
	text-align: center;
}

.text-little {
	font-size: 11px;
}

.text-section-header {
  font-size: 30px;
}

@mixin prefixonvalue($property, $value) {
  #{$property}: -webkit-#{$value};
  #{$property}: -moz-#{$value};
  #{$property}: -ms-#{$value};
  #{$property}: $value;
}

@mixin prefixonprop($property, $value) {
  -webkit-#{$property}:   $value;
  -moz-#{$property}:      $value;
  -ms-#{$property}:       $value;
  #{$property}:           $value;
}