<div class="header-nav">
  <ul class="header-navigation-list">
    <li><a href="#" class="header-nav-ref">Home</a></li>
    <li><a href="#section-collect" class="header-nav-ref">Colectas</a></li>
    <li><a href="#section-about" class="header-nav-ref">Que es</a></li>
  </ul>
</div>
