.detail-donation-view {
  input {
    margin-bottom: 5px;
  }

  .form-contact-container {
    width: 100%;

    .form-input-row {
      width: 50%;
    }
  }

  .billment-container {
    .icon-billment {
      margin: 5px;
      md-icon.fa {
        font-size: 20px;
      }
    }

    .detail-billment {
      width: 100%;
    }

    .md-errors-spacer {
      display: none;
    }
  }
}
