progress-item {
  width: 100%;

  .progress-item-container {
    @include prefixonvalue(display, flex);

    .item-req-image {
      margin-top: 0;
      margin-bottom: 30px;
      width: 15%;
      img {
        width: 100%;
      }
    }

    .item-req-amount {
      width: 75%;
      @include prefixonvalue(display, flex);
      @include prefixonprop(flex-wrap, wrap);

      .progress-linear-container {
        width: 100%;
        position: relative;

        &.is-changed .md-bar2 {
          background-color: $warning-color;
        }

        md-progress-linear .md-container {
          @include prefixonprop(border-radius, 4px);
          @include prefixonvalue(transform, translateY(50%));
          width: 100%;
          height: 25px;

          .md-bar {
            height: inherit;
          }
        }

        .progress-bonus {
          .progress-single-bonus {
            background-color: black;
            width: 2px;
            height: 55px;
            position: absolute;

            .bonus-required {
              margin-left: 5px;
              margin-top: 35px;
            }
          }
        }
      }

      .ratio-donated-item {
        margin-left: 90%;
        min-width: 50px;
        max-height: 50px;
      }
    }

    .item-donate-calculation {
      margin-left: 15px;

      md-input-container.amount-to-donate {
        max-height: 32px;
      }
    }
  }

}
